<div class="d-flex flex-column justify-content-center ml-5 mr-5">


    <h4>CONSULTA EMPLEAT PER FEINA</h4>

    <label>Feina:</label>
    <select [(ngModel)]="job">
     <option value="EMPLOYEE">Empleat</option>
     <option value="MANAGER">Gerent</option>
     <option value="BOSS">Director</option>
     <option value="VOLUNTEER">Voluntari</option>
   </select>

    <button class="btn btn-info mt-2" (click)="getEmployeeById()">CONSULTAR</button>

    <table *ngIf="this.success==true && this.employeesList!=null"  class="table table-bordered mt-3">
        <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Job</td>
            <td>Salary</td>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeesList">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.job}}</td>
                <td>{{employee.salary}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="this.success==false">No hay ningún empleado con puesto = {{job}}</div>
   
</div>