<div class="container" style="border:1px solid black;" >

    <div class="row">

        <div class="col-4">
            <app-getbyid></app-getbyid>
        </div>

        <div class="col-4">
            <app-create></app-create>
        </div>

        <div class="col-4">
            <app-update></app-update>
        </div>

    </div>

    <div class="row">

        <div class="col-4">
            <app-getall></app-getall>
        </div>
        <div class="col-4">
            <app-delete></app-delete>
        </div>
        <div class="col-4">

        </div>
    </div>
    
</div>