<div class="d-flex flex-column justify-content-center ml-5 mr-5">

    <h4 class="align-self-center">CONSULTA TOTS ELS EMPLEATS</h4>
    <button class="btn btn-info mt-2" (click)="listAllEmployees()">CONSULTAR</button>
    <table *ngIf="employeesList != null" class="table table-bordered mt-3">
        <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Job</td>
            <td>Salary</td>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeesList">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.job}}</td>
                <td>{{employee.salary}}</td>
            </tr>
        </tbody>
    </table>
</div>